
.gmu-card {
  float: left;
  padding: 12px;

  line-height: 1.4em;
  color: #333;

  position: relative;
  &.fadeIn{
    // &[data-active="false"] {
      transform: translateY(-10000%);
      margin-top: -48px;
      transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, margin-top 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 470ms;
      opacity: 0;
      z-index: 10;
    // }
    &[data-active="true"] {
      transform: translateY(0%);
      margin-top: -0px;
      opacity: 1;
      z-index: 10;
      transition: transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, margin-top 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      .card-box {
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
        border-radius: 2px;
      }
    }
  }
  &.scale{
    z-index: 10;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &[data-active="false"] {
      transform: scale(0);
      .card-box{
        > * {
          opacity: 0;
        }
      }
    }
    &[data-active="true"] {
      transform: scale(1);
      .card-box{
        > * {
          opacity: 1;
          transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 150ms;
        }
      }
    }
  }
  &.radius-scale{
    z-index: 10;
    // overflow: hidden;
    background: transparent;
    &[data-active="false"] {
      .card-box {
        position: relative;
        background: transparent;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px;
        &:before{
          content: '';
          position: absolute;
          background: #fff;
          width: 0px;
          height: 0px;
          left: 50%;
          top: 50%;
          // margin-top: 50%;
          border-radius: 50%;
          z-index: -1;
        }
        > *{
          opacity: 0;
          transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
      }

    }
    &[data-active="true"] {
      .card-box {
        position: relative;
        background: transparent;
        overflow: hidden;
        &:before{
          content: '';
          position: absolute;
          background: #fff;
          width: 120%;
          padding-bottom: 100%;
          top: -100%;
          // height: 10000px;
          left: -10%;
          // padding: 12px;
          margin-top: -12px;
          z-index: -1;
          // margin-top: -50%;

          // transform: translateY(0%);
          border-radius: 50%;
          transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
      }
      .card-box {
        transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 400ms;
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
        border-radius: 2px;
        // transform: scale(1);
        // opacity: 1;

        // transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, border-radius 200ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
        > *{
          opacity: 1;
          transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 150ms;
        }
      }
    }
  }

  &.margin-center {
    margin-left: auto;
    margin-right: auto;
  }
  &.float-right {
    float: right;
  }
  .card-box {
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    background: #fff;
  }
}
