
.gmu-card {
  float: left;
  padding: 12px;

  line-height: 1.4em;
  color: #333;

  &.margin-center {
    margin-left: auto;
    margin-right: auto;
  }
  &.float-right {
    float: right;
  }
  .card-box {
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}
