.gmu-dialog {
  position: relative;
  .gmu-curatin{
    z-index: 11;
  }
  > .gmu-card.fadeIn[data-active="true"]{
    z-index: 11 !important;
  }
  .gmu-card {
    position: fixed;
    top: 10%;
  }
}
