.gmu-isometric-button {
  text-align: center;
  display: inline-block;
  z-index: 0;
  position: relative;
  button {
    background: transparent;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    border: 0;
    vertical-align: middle;
    letter-spacing: 0;
    // text-transform: uppercase;
    // font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &.box-shadow {
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    > div {
      background: rgba(230, 230, 230, 1);
      color: rgba(0, 0, 0, .5);
      // padding: 6px 16px;
      // padding: 0.429em 1.143em;
      position: relative;

      .color-hover-response {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0);
        transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1) 0;
      }

      .content-word {
        display: inline-block;
        word-break: break-all;
        width: 100%;
        position: relative;
      }

      .color-click-response {
        position: absolute;
        transform: scale3d(-21, -21, 0);
        width: 21px;
        margin-top: -10px;
        height: 21px;
        margin-left: -10px;
        transform-origin: center center;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        background: rgba(0,0,0,.06);
        &[data-active="true"] {
          opacity: 0;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
      }

      &:hover {
        .color-hover-response {
          background: rgba(0,0,0,.06);
        }
      }
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 0;
    }

    &:hover {
      // background: rgba(210, 210, 210, 0.5);
      // background: rgba(0,0,0,.06);
    }

    &.x-large{
        font-size: 24px;

    }
    &.large{
        font-size: 20px;
        height: 48px;
        width: 48px;
        line-height: 48px;
    }
    &.middle{
        font-size: 16px;
        height: 36px;
        width: 36px;
        line-height: 36px;
    }
    &.small{
        font-size: 12px;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }
  }
  &.circle {
    // border-radius: 50%;
    > button {
      border-radius: 50%;
      > div {
        overflow: hidden;
        border-radius: 50%;
        z-index: 1;
        .color-click-response{
          z-index: 0;
        }
      }
    }
  }
  &.malibu {
    button {
      > div {
        background: #61AFEF;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
  &.charade {
    button {
      > div {
        background: #282C34;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
  &.shark {
    button {
      > div {
        background: #33373A;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
  &.froly {
    button {
      > div {
        background: #DA6C75;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
  &.fern {
    button {
      > div {
        background: #5CB85C;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
  &.h-gold {
    button {
      > div {
        background: #E5C076;
        color: #fff;
        .color-click-response {
          background: rgba(255, 255, 255, .3);
        }
      }
    }
  }
}
